body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, #DDCDFF 0%, #9CC2FA 100%);
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#background {
  background: #F8F0FF;
  box-shadow: 30px 30px 80px -7px rgba(28, 72, 227, 0.5);
  border-radius: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 50px 100px;
}

#container {
  display: flex;
  flex-direction: column;
}

#header, h1 {
  margin: 0px;
}

#title {
  font-family: "whisper";
  font-size: 75px;
  text-align: center;
  margin: 0px;
  color: #cba5ec;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  padding-bottom: 25px;
}

#main {
  display: flex;
  flex-direction: row;
}

#buttonsLeft, #buttonsRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  row-gap: 50px;
}

#buttonsLeft {
  margin-right: 75px;
}

#buttonsRight {
  margin-left: 75px;
}

.button {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(157.82deg, #FFBE8A 14.48%, #FFDF8E 85.52%);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  min-width: 200px;
  border-radius: 15px;
  border-style: none;
  transition-duration: 0.7s;
}

.button:hover {
  /* box-shadow: -3px -3px 5px #FFFFFF, -10px -10px 20px #FFFFFF, 1px 1px 10px #EBD5FF, 10px 10px 20px #EBD5FF; */
  box-shadow: -3px -3px 3px #FFFFFF, -10px -10px 20px #FFFFFF, 1px 1px 5px #D9AEFF, 10px 10px 20px #E2C1FF;
  cursor: pointer;
}

#canvas {
  display: flex;
  gap: 0px;
  margin: 0px;
  flex-wrap: wrap;
  background-color:cornflowerblue;
  height: 600px;
  width: 600px;
  align-content: center;
  border-style: solid;
  border-width: 8px;
  border-top-color: #DDCDFF;
  border-left-color: #DDCDFF;
  border-bottom-color: #EEE5FF;
  border-right-color: #EEE5FF;
}

.pixels {
  background-color: #FFF;
  width: 6.25%;
  height: 6.25%;
  margin: 0px;
}

.pixels:hover {
  background-color:gray;
}

/* .pixel:focus {
  background-color:coral;
} */

