/* Commented out elements are for potential future light mode */

body {
  font-family: "montserrat", sans-serif;
  /* background: linear-gradient(180deg, #DDCDFF 0%, #9CC2FA 100%); */
  background: linear-gradient(180deg, #33364D 0%, #14181F 100%);
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#background {
  /* background: #F8F0FF; */
  background: #41445A;
  /* box-shadow: 30px 30px 80px -7px rgba(28, 72, 227, 0.5); */
  box-shadow: 30px 30px 80px -7px #161B23;
  border-radius: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 50px 100px;
}

#container {
  display: flex;
  flex-direction: column;
}

#header, h1 {
  margin: 0px;
}

p {
  font-family: "montserrat", sans-serif;
  font-size: 17px;
  /* color: #420f6e; */
  color: #FFF;
  margin: 15px 0px 0px 0px;
}

#title {
  font-family: "whisper";
  font-size: 75px;
  text-align: center;
  margin: 0px;
  /* color: #cba5ec; */
  color: #FE9330;
  background: linear-gradient(180.1deg, #FE9330 23.35%, #984900 99.91%), #874FFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 25px;
}

#main {
  display: flex;
  flex-direction: row;
}

#buttonsLeft, #buttonsRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  row-gap: 50px;
}

#buttonsLeft {
  margin-right: 75px;
}

#buttonsRight {
  margin-left: 75px;
}

.button {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  font-family: "montserrat", sans-serif;
  /* background: linear-gradient(157.82deg, #FFBE8A 14.48%, #FFDF8E 85.52%); */
  background: linear-gradient(97.37deg, #F78E2C 2.38%, #FF9900 100%);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  min-width: 200px;
  border-radius: 15px;
  border-style: none;
  transition-duration: 0.7s;
  cursor: pointer;
}

.button:hover {
  /* box-shadow: -3px -3px 3px #FFFFFF, -10px -10px 20px #FFFFFF, 1px 1px 5px #D9AEFF, 10px 10px 20px #E2C1FF; */
  box-shadow: -3px -3px 5px #61657D, -10px -10px 20px #61657D, 1px 1px 10px #2C2E3C, 10px 10px 20px #2C2E3C;
  transform: scale(1.03);

}

.active {
  /* box-shadow: -3px -3px 3px #FFFFFF, -10px -10px 20px #FFFFFF, 1px 1px 5px #D9AEFF, 10px 10px 20px #E2C1FF; */
  box-shadow: -3px -3px 5px #61657D, -10px -10px 20px #61657D, 1px 1px 10px #2C2E3C, 10px 10px 20px #2C2E3C;
  transform: scale(1.03);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  /* background: linear-gradient(0.25turn, #FFBE8A, #FFDF8E); */
  background: linear-gradient(0.25turn, #FB7900, #FFBC11);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb, .slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  /* background: #FF9139; */
  background: #FF6B00;
  cursor: pointer;
  border: none;
}

.colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 65px;
  width: 100%;
}

.colorPicker {
  background: linear-gradient(120deg, #FF2424 0%, #FF9C29 19.19%, #FFE279 38.15%, #84E599 59.51%, #5EBBFF 82.27%, #B924FF 100%);
  -webkit-appearance: none;
  border: none;
  padding: 15px 40px 15px 40px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0px;
}

.colorPicker::-webkit-color-swatch {
  border: none;
}

.showGrid {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.canvas {
  display: flex;
  gap: 0px;
  margin: 0px;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  align-content: center;
  border-style: solid;
  border-width: 8px;
  background: #FFF;
  /* border-top-color: #DDCDFF;
  border-left-color: #DDCDFF;
  border-bottom-color: #EEE5FF;
  border-right-color: #EEE5FF; */
  border-top-color: #2C3042;
  border-left-color: #2C3042;
  border-bottom-color: #656A8F;
  border-right-color: #656A8F;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.pixels {
  background-color: rgba(0, 0, 0, 0.0);
  width: 6.25%;
  height: 6.25%;
  margin: 0px;
}
